html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
    }
    body{
        font-family: poppins;
    }
.second-row{
    font-weight: 600,semi-bold;font-size: 30px;
    line-height: 3%;
    padding:3%;
}
.background{
    background-repeat: no-repeat;
    background-size: cover;
}
.total{
padding:3%;
}
.first-row{
 padding-right:5%;
 line-height: 3%;
}
.twitter{
    margin-left: 7%;
}
.icons{
    position:absolute;
    left:70%;
    margin-left: 5%;
}
.third-row{
    padding: 3%;
    position:relative;
    z-index:1;
   
}
.cds{
    text-align: center;
    position:absolute;
    bottom: -40%;
    padding-left: 10%;
    z-index:1;
    margin-right: 10%;
}
.body{
    margin-right: 5%;
    line-height: 1rem;
}
.undercard{
    background-color: #2D9CDBD4;
    padding-top:15% ;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
    
}
.whitespace{
    text-align: center;
    line-height: 1rem;
    padding-top: 15px;
    padding-bottom: 15px;
}
.white{
    padding-top: 3%;
    line-height: 2rem;
    padding-left: 3%;
}
.light-blue-tab{
    background-color: #EBF8FF;
    padding:3%;
}
.close-image{
    width:100%;
}
.close-car{
text-align: center;
}
.input-row{
    background-image:url("https://s3-alpha-sig.figma.com/img/466a/4111/044beb3d5d5064227c5c2c9b15cd17bd?Expires=1646006400&Signature=gWOqI1b5pGEuzY6xf9H3p-p~ejoAP6jq1HGoNmHqKobP02X3U1PRXeNMcyqmYPiT7apRAoshFRxJOJZ~iGwFxgwFYRHU3QTWjydaDBgUsyUOYcHFvgSd6mzLUcxS9L8tLxYIZANgHugFtTb1qC1p98LAQudT8n6w5SAAgAG7wtYFEaliryQsIhYSaO6oOnh03Lx43qOCoHg5Knspe1Wcns-QtUHP98By6Rghym3jWpiMwX6ipW9IxaauFaGwmlKz3VAq4SMejaLBVrYIb0XlK3KmFc4WO6BgJmRmN-9bbGKpuQOgJ9a9RDZIPAjIEl8Sw97kMC7GYPbxFtoaHzKJ5g__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA") ;
    background-color: black;
}

.human{
    background-color:#2D9CDB;
}
#totalex1{
    padding-left: 10%;
    padding-right: 3%;
    padding-top:3%;
}
.firstdiv{
    padding-left: 3%;
    padding-right: 3%;
    padding-top:3%;
    
}
.we-are-leaders{
    padding:3%;
}
.carslide2{
    background-image:url("intern-images/Rectangle 7.png");
    background-size: cover;
    padding: 30%;
    line-height: 1rem;
    text-align: center;
} 
.image{
    height: 1000px;
    width: 1000px;
} 
.whitespace-para{
    margin-left:50px ;
}
.image-whitespace{
    line-height: 1rem;
}
.copy{
    margin-top:3%;
    padding:3%;
}
.pad{
    padding:3%;
}
.second-first-id{
    color: white;
}
.second-second-tab{
    color: #2D9CDB;
}
.second-third-id{
    color: white;
}
.second-fourth-id{
    color: white;
}
.second-fifth-id{
    color: white;
}
.second-sixth-id{
    color: white;
}
.first-cod{
    width:auto;
    height:100%;
    
}
.second-cod{
    width:auto;
    height:100%;
}
.third-cod{
    width:autp;
   
}
.fourth-cod{
    width:auto;
}




@media only screen and (max-width: 486px) {
    .first-cod{
        width:200px;
       position:relative;
       top:35%;
       right:5%;
        
    }
    .second-cod{
        width:200px;
        position:relative;
        top:35%;
        right:5%;
    }
    .third-cod{
        width:200px;
        position:relative;
        top:35%;
        right:5%;
    }
    .fourth-cod{
        width:200px;
        
        position:relative;
        top:35%;
        right:5%;
    }
    .undercard{
        height:500px;
    }
    .right-undercard-para{
        margin-top: 65%;
    }
    .left-undercard-para{
        margin-top:30%;
    }
    
    .second-first-id{
        color: white;font-size: large;
    }
    .second-second-tab{
        color: #2D9CDB;font-size: large;
    }
    .second-third-id{
        color: white;font-size: large;
    }
    .second-fourth-id{
        color: white;font-size: small;
    }
    .second-fifth-id{
        color: white;font-size: small;
    }
    .second-sixth-id{
        color: white;font-size: 40px;
    }

}
